.bounceCardsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bounce-card {
  position: absolute;
  transform-origin: center center;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
