.stroke-text {
  display: inline-block;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  max-width: 100%;
  overflow: visible;
}

.stroke-text--hover {
  cursor: pointer;
}

.stroke-text__svg {
  display: inline-block;
  width: auto;
  max-width: 100%;
  overflow: visible;
  vertical-align: middle;
}

.stroke-text__stroke,
.stroke-text__fill {
  user-select: none;
}


